@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Font */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  /* Heading */
  --text-heading-delete: 0.75rem;
  --text-heading-s: 0.8rem;
  --text-heading-s-font-weight: 700;
  --text-heading-xs: 0.85rem;

  --text-heading-m: 0.9rem;
  --text-heading-m-font-weight: 700;

  --text-heading-l: 1.125rem;
  --text-heading-l-font-weight: 700;

  --text-heading-xl: 1.5rem;
  --text-heading-xl-font-weight: 700;

  /* Body */
  --text-body-m: 0.75rem;
  --text-body-m-font-weight: 700;

  --text-body-l: 0.8125rem;
  --text-body-l-font-weight: 500;

  /* Colors */
  --color-main-blue: #3272bb;
  --color-main-blue-hover: #2163ad;

  --color-red: #ea5555;
  --color-red-hover: #b23a3a;

  --color-white: #ffffff;
  --color-black: #000112;

  --color-light-grey: #f4f7fd;
  --color-drak-grey: #2b2c37;
  --color-medium-grey: #828fa3;
  --color-very-dark-grey: #1e1e1e;

  --color-lines: #3e3f4e;
  --color-lines-light: #e4ebfa;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7d8fb;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #97b8fb;
}
